*{
    margin: 0px;
    padding: 0px;
    font-family : Arial, Helvectica, Sans-serif;
    font-sizeL 12px;
    background-color: #eff5f9;
}

.headerMenu {
    background-color: #00B9ED;
    height: 80px;
    border-bottom: 0px;
    padding-left: auto;
    padding-right: auto;
    width: 100%;


}
#wrapper{
    margin-left: 40px;
    margin-right: 40px;
    width: 1000px;
    padding-top: 0px;
    padding-bottom: 0px;

}
.logo{
    width: 125px;

}
.logo img {
    padding-top: 20px;
    width: 150px;
    height: 38px;
}
